.sticky-label {
    position: relative;
}

label {
    position: fixed;
}

input {
    appearance: none;
}

input:checked + label, input:focus-visible + label, input:hover + label {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

input:checked + label > span span {
    transform: rotate(90deg) translate(-10px, -10px);
}

@media (prefers-color-scheme: dark) {
    input:checked + label, input:focus-visible + label, input:hover + label {
        color: black;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    }
}