@font-face {
    font-family: 'Helmet';
    src: url('./fonts/Helmet-Regular.ttf');
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('./fonts/PPNeueMontreal-Medium.otf');
    // https://pangrampangram.com/products/neue-montreal
}