// https://pangrampangram.com/products/neue-montreal

@font-face {
    font-family: 'NeueMontreal-Bold';
    src: url('./fonts/PPNeueMontreal-Bold.otf');
}

@font-face {
    font-family: 'NeueMontreal-Book';
    src: url('./fonts/PPNeueMontreal-Book.otf');
}

@font-face {
    font-family: 'NeueMontreal-Medium';
    src: url('./fonts/PPNeueMontreal-Medium.otf');
}