footer {
    scroll-snap-align: start;
    padding: 1.5rem;
    
    .text {
        text-align: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: .75rem;

        a {
            color: #fff;
        }
    }

    nav {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        scroll-snap-align: unset;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        animation-name: opacity;
        animation-duration: 4s;

        @keyframes opacity {
            0%, 25%, 50%, 75% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .text {
            text-align: unset;
            max-width: 300px;
        }

        nav {
            display: unset;

            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: .75rem;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}