header {
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    color: #fff;
    font-size: 1.5rem;
    gap: 1rem;
    // user-select: none;
    // pointer-events: none;

    .naiden, .portfolio {
        display: flex;
        justify-content: center;

        img {
            width: calc(100% - 91.125vw);
        }
    }
}

.l1 {
    animation-name: l1;
    animation-duration: 2s;

    @keyframes l1 {
        0%, 25%, 50%, 75% {
            transform: translate3d(300px, 900px, 250px);
        }

        100% {
            transform: unset;
        }
    }
}

.l2 {
    animation-name: l2;
    animation-duration: 1.5s;

    @keyframes l2 {
        0%, 25%, 50%, 75% {
            transform: translate3d(6000px, 400px, 125px);
        }

        100% {
            transform: unset;
        }
    }
}

.l3 {
    animation-name: l3;
    animation-duration: 1s;

    @keyframes l3 {
        0%, 25%, 50%, 75% {
            transform: translate3d(0, -500px, 0);
        }

        100% {
            transform: unset;
        }
    }
}

.l4 {
    animation-name: l4;
    animation-duration: 1.25s;

    @keyframes l4 {
        0%, 25%, 50%, 75% {
            transform: translate3d(272px, 2000px, 0);
        }

        100% {
            transform: unset;
        }
    }
}

.l5 {
    animation-name: l5;
    animation-duration: 1.75s;

    @keyframes l5 {
        0%, 25%, 50%, 75% {
            transform: translate3d(-400px, 900px, 500px);
        }

        100% {
            transform: unset;
        }
    }
}

.l6 {
    animation-name: l6;
    animation-duration: 1.5s;

    @keyframes l6 {
        0%, 25%, 50%, 75% {
            transform: translate3d(666px, -666px, 666px);
        }

        100% {
            transform: unset;
        }
    }
}

span {
    animation-name: apostrophe;
    animation-duration: 2s;

    @keyframes apostrophe {
        0%, 25%, 50%, 75% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.l7 {
    transform: translateX(1.5rem) translateY(3rem) rotateZ(90deg);
    animation-name: l7;
    animation-duration: 2s;

    @keyframes l7 {
        0%, 25%, 50%, 75%, 80%, 85%, 90%, 95%, 99% {
            transform: translate3d(0, -500px, 0);
        }

        100% {
            transform: translateX(1.5rem) translateY(3rem) rotateZ(90deg);
        }
    }
}

.l8 {
    animation-name: l8;
    animation-duration: 1.25s;

    @keyframes l8 {
        0%, 25%, 50%, 75% {
            transform: translate3d(-700px, 0, 0);
        }

        100% {
            transform: unset;
        }
    }
}

.l9 {
    animation-name: l9;
    animation-duration: 1.5s;

    @keyframes l9 {
        0%, 25%, 50%, 75% {
            transform: translate3d(973px, 712px, 300px);
        }
    }
}

.l10 {
    animation-name: l10;
    animation-duration: 2.5s;

    @keyframes l10 {
        0%, 25%, 50%, 65% {
            transform: translate3d(900px, -821px, -200px);
        }

        67.5%, 70%, 80%, 85%, 90%, 95% {
            transform: translateX(2.5rem);
        }

        100% {
            transform: unset;
        }
    }
}

.l11 {
    animation-name: l11;
    animation-duration: 2.5s;

    @keyframes l11 {
        0%, 25%, 50%, 75% {
            transform: translate3d(-1231px, 666px, 500px);
        }

        80%, 85%, 90%, 95% {
            transform: translateX(-3.5rem);
        }

        100% {
            transform: unset;
        }
    }
}

.l12 {
    animation-name: l12;
    animation-duration: 2.75s;

    @keyframes l12 {
        0%, 25%, 50%, 75% {
            transform: translateY(500px);
        }

        80%, 85%, 90%, 95% {
            transform: rotateY(180deg);
        }

        100% {
            transform: unset;
        }
    }
}

.l13 {
    animation-name: l13;
    animation-duration: 1.25s;

    @keyframes l13 {
        0%, 25%, 50%, 75% {
            transform: translate3d(1061px, -891px, 100px);
        }

        100% {
            transform: unset;
        }
    }
}

.l14 {
    animation-name: l14;
    animation-duration: 1.5s;

    @keyframes l14 {
        0%, 25%, 50%, 75% {
            transform: translate3d(-999px, 808px, 1337px);
        }

        100% {
            transform: unset;
        }
    }
}

.l15 {
    animation-name: l15;
    animation-duration: 1.5s;

    @keyframes l15 {
        0%, 25%, 50%, 75% {
            transform: translate3d(0, 900px, 0);
        }

        100% {
            transform: unset;
        }
    }
}

.l16 {
    animation-name: l16;
    animation-duration: 1.25s;

    @keyframes l16 {
        0%, 25%, 50%, 75% {
            transform: translate3d(1000px, 0, 0);
        }

        100% {
            transform: unset;
        }
    }
}

.skip {
    font-size: 5rem;
    color: #fff;
    text-decoration: none;
    margin-top: 5rem;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
        gap: 1.25rem;

        .naiden, .portfolio {
            img {
                width: calc(100% - 92.5vw);
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 3rem;
        gap: 1.5rem;

        .naiden, .portfolio {
            img {
                width: calc(100% - 93.75vw);
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    h1 {
        gap: 1.625rem;

        .naiden, .portfolio {
            img {
                width: calc(100% - 95vw);
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    h1 {
        gap: 2rem;

        .naiden, .portfolio {
            img {
                width: 4.5rem;
            }
        }
    }
}