header {
    .heading-container {
        font-size: clamp(1.75rem, 3.75vw, 4.375rem);
        position: relative;
        display: flex;
        padding: 0 clamp(0.5rem, 2vw, 1rem);
        font-weight: 500;
    }

    .vertical-text {
        position: absolute;
        opacity: 0;

        span {
            display: flex;
            flex-direction: column;
            transform: translate(50%) rotate(90deg);
            color: transparent;
            user-select: none;

            &::after {
                color: black;
                letter-spacing: -2.75rem;
                content: "Naiden\00a0 Radnev";
                position: absolute;
                text-transform: uppercase;
                transition: .3s;
            }

            &.cyrilic::after {
                content: "Найден\00a0 Раднев"
            }
        }
    }

    .heading-container:hover {
        .horizontal-text {
            opacity: 0;
        }
        
        .vertical-text {
            opacity: 1;

            span::after {
                letter-spacing: 0;
                transition: .3s;
            }
        }
    }
}