a[href] {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    display: inline-block;
    border-bottom: 2px solid black;
    transition: .2s;

    span {
        display: none;
    }
    
    &:active, &:focus-visible {
        background: black;
        color: white;
        transition: .2s;
    }

    @media (prefers-color-scheme: dark) {
        & {
            border-bottom: 2px solid white;
    
            &:active, &:focus-visible {
                background: white;
                color: black;
                transition: .2s;
            }
        }
    }

}

@media (hover: hover) {
    a { 
        position: relative;
        line-height: 1;

        &[href]{
            &:hover {
                border-bottom: none;
            }
    
            .left, .right {
                display: unset;
                position: absolute;
                width: 50%;
                height: 100%;
                top: 0;
                color: transparent;
                letter-spacing: -.5rem;
                user-select: none;
                transition: .2s;

                &:hover {
                    z-index: 100;
                    width: 100%;
                    background: black;  
                    color: white;
                    letter-spacing: unset;
                    transition: .3s;
                }
            }
            
            .left {
                left: 0;
            }
    
            .right {
                right: 0;
    
                &:hover {
                    direction: rtl;
                }
            }

            @media (prefers-color-scheme: dark) {
                .left:hover, .right:hover {
                    background: white;
                    color: black;
                }
            }
        }
    }
}