section {
    transition: .4s;
    position: relative;
    overflow: hidden;

    & .info {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: .4s;

        & > :last-child {
            margin-bottom: 6rem;
        }
    }

    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        h2 a {
            display: flex;
            align-items: center;
            gap: .5rem;
            width: fit-content;
            transition: .2s;
            padding: unset;

            &::before {
                content: '';
                background: black;
            }
        }
    } 

    &:nth-child(1) h2 a::before, &:nth-child(2) h2 a::before {
        width: clamp(1.5rem, 3vw, 3.25rem);
        height: clamp(1.5rem, 3vw, 3.25rem);
    }

    &:nth-child(2) h2 a::before {
        border-radius: 50%;
    }

    &:nth-child(3) h2 a::before {
        border-left: clamp(12.4px, 1.5vw, 26px) solid transparent;
        border-right: clamp(12.4px, 1.5vw, 26px) solid transparent;
        border-bottom: clamp(24.8px, 3vw, 52px) solid black;
        background: unset;
    }
}

section:target {
    flex-grow: 1;
    transition: .4s;

    &:nth-child(2) {
        .info {
            width: 100%;

            ul {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                h4 {
                    font-size: 2rem;
                }
                
                ul {
                    display: unset;
                    gap: unset;

                    li {
                        display: inline;
                        width: fit-content;
                        font-size: 1.5rem;
                        font-weight: 500;

                        &:not(:last-child)::after {
                            content: ","
                        }
                    }
                }

                li div {
                    div {
                        display: flex;
                        
                        a {
                            display: block;
                        }
                    }
                }

            }
        }
    }

    & .info {
        height: 100%;
        overflow-y: auto;
        opacity: 1;
        visibility: unset;
        transition: .4s;
    }
}

.container {
    .info {
        padding: 0.83rem clamp(0.5rem, 2vw, 1rem);
    }

    h2, h2 a {
        padding: 0 clamp(0.5rem, 2vw, 1rem);
        font-size: clamp(1.75rem, 3.75vw, 4.375rem);
        font-weight: 500;
        text-transform: uppercase;
        white-space: nowrap;
    }

    p:not(:first-child) {
        margin-top: .83rem;
    }

    p, li, a:not(h2 a) {
        font-size: clamp(1.125rem, 2vw, 2.25rem);
        max-width: 1000px;
        font-weight: 300;
    }

    h3, h4 {
        font-weight: 500;
    }

    a:not(h2 a) {
        color: blue;
        text-decoration: underline;

        &:hover, &:focus-visible {
            color: $black;
            text-decoration: none;
            font-style: italic;
        }

        &:focus-visible {
            outline: 3px dashed $black;
        }
    }
}