// TESTING
section {
    transition: .4s;
    position: relative;
    overflow: hidden;

    & .info {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: .4s;
    }
    
    
    h2 a {
        transition: .2s;
        padding: unset !important;
    }


    h2 a {
        transition: .2s;
        padding: unset !important;
    }

    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        h2 a {
            display: flex;
            align-items: center;
            gap: .5rem;
            width: fit-content;
            transition: .2s;
            padding: unset !important;

            &::before {
                content: '';
                display: inline-block;
                background: black;
                transition: .4s;
            }

            &:hover {
                &::before {
                    content: '';
                    display: inline-block;
                }
            }
        }
    } 

    &:nth-child(1) {
        h2 a {
            &::before {
                width: clamp(1.5rem, 3vw, 3.25rem);
                height: clamp(1.5rem, 3vw, 3.25rem);
            }
        }
    }

    &:nth-child(2) {
        h2 a {
            &::before {
                width: clamp(1.55rem, 3vw, 3.25rem);
                height: clamp(1.55rem, 3vw, 3.25rem);
                border-radius: 50%;
            }
        }
    }

    &:nth-child(3) {
        h2 a {
            &::before {
                border-left: clamp(12.4px, 1.5vw, 26px) solid transparent;
                border-right: clamp(12.4px, 1.5vw, 26px) solid transparent;
                border-bottom: clamp(24.8px, 3vw, 52px) solid black;
                background: unset;
            }
        }
    }
}

// SLIDES
section:target {
    h2 a {
        transform: unset !important;
        transition: .2s;
    }

    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        h2 a {
            &::before {
            }
        }
    } 

    &:nth-child(2) {
        .info {
            overflow-y: scroll;

            ul {
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }

            a {
                word-break: break-word;
            }
        }
    }

    & .info {
        height: 100%;
        overflow-y: auto;
        opacity: 1;
        visibility: unset;
        transition: .4s;
    }


    h2 a {
        transform: unset !important;
        transition: .2s;
    }
    
    
    h2 a {
        transform: unset !important;
        transition: .2s;
    }
    
    flex-grow: 1;
    transition: .4s;
}
// TESTING

::-webkit-scrollbar {
    width: 1px;
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(17, 17, 17, .875);
}

.container {
    .info {
        padding: 0.83rem clamp(0.5rem, 2vw, 1rem);
    }

    h2, h2 a {
        padding: 0 clamp(0.5rem, 2vw, 1rem);
        font-size: clamp(1.75rem, 3.75vw, 4.375rem);
        font-weight: 500;
        text-transform: uppercase;
        white-space: nowrap;
    }

    p:not(:first-child) {
        margin-top: .83rem;
    }

    p, li, a:not(h2 a) {
        font-size: clamp(1.125rem, 2vw, 2.25rem);
        max-width: 1000px;
        font-weight: 300;
    }

    h3 {
        font-weight: 500;
    }

    a:not(h2 a) {
        color: blue;
        text-decoration: underline;

        &:hover, &:focus-visible {
            color: $black;
            text-decoration: none;
            font-style: italic;
        }

        &:focus-visible {
            outline: 3px dashed $black;
        }
    }
}

@media screen and (min-width: 900px) {
    // main {
    //     overflow-y: hidden;
    // }

    // section {
    //     .info {
    //         // border: 1px solid red;
    //         position: absolute;
    //         top: 50rem;
    //         width: 100vh;
    //         left: 0;
    //         right: 0;
    //     }
    // }

    // section:target {
    //     .info {
    //         top: 5rem;
    //     }
    // }
}

// #test {
//     border: 1px solid red;
//     background: black;
//     position: absolute;
//     inset: 0 0 0 0;
//     top: 110%;
// }

// #test:target {
//     top: 0;
//     overflow: scroll;
// }