section {
    // transition: .4s;
    flex-grow: 1;
}

// SLIDES
// section:target {
//     h2 a {
//         writing-mode: unset;
//     }
    
//     flex-grow: 1;
//     transition: .4s;
// }

.container {
    outline: 1px solid black;
    background: $gray;

    .info {
        padding: 0.83rem clamp(0.5rem, 2vw, 1rem);
    }

    h2 {
        padding: 0 clamp(0.5rem, 2vw, 1rem);
        font-size: clamp(1.75rem, 3.5vw, 2.5rem);
        text-transform: uppercase;
        white-space: nowrap;
    }

    p {
        letter-spacing: -.0375rem;
    }

    p:not(:first-child) {
        margin-top: .83rem;
    }

    p, li, a {
        font-size: clamp(1.125rem, 2vw, 1.875rem);
    }

    a {
        color: blue;
        text-decoration: underline;

        &:hover, &:focus-visible {
            color: $black;
            text-decoration: none;
            font-style: italic;
        }

        &:focus-visible {
            outline: 3px dashed $black;
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        h2 {
            border-bottom: 1px solid black;
        }
    }
}