.toggle {
    border: none;
    background: none;
    position: fixed;
    right: .25rem;
    top: .25rem;
    width: clamp(50px, 5vw, 60px);
    height: clamp(50px, 5vw, 60px);
    user-select: none;
    z-index: 9999;

    img {
        width: 100%;
        height: 100%;
    }
}