#selected-works {
    display: flex;

    ol {
        width: 100%;
        display: grid;
        counter-reset: li-counter;
    }

    li p:first-child > a {
        font-size: clamp(2rem, 6vw, 5rem);
        font-weight: 700;
        border-bottom: none;
    }

    li {
        display: grid;
        align-content: center;
        
        &::before {
            counter-increment: li-counter;
            content: counter(li-counter);
            font-size: clamp(2rem, 6vw, 5rem);
        }

        &:first-child {
            border-top: 2px dashed white;
        }
        
        &:not(:last-child) {
            border-bottom: 2px dashed white;
        }
    }
}

@media screen and (min-width: 768px) {
    #selected-works {
        ol {
            // grid-template-areas: 'link link';
        }
    }
}

@media screen and (min-width: 1200px) {
    #selected-works {
        ol {
            // grid-template-areas: 'link link link';
        }
    }
}