#selected-works {
    display: flex;
    max-width: 690px;
    padding-left: clamp(0rem, 1.5vw, 0.85rem);

    ol {
        width: 100%;
        display: grid;
        align-content: space-between;
        counter-reset: li-counter;
    }

    li {
        max-width: 355px;
        font-family: NeueMontreal, sans-serif;
        height: fit-content;

        &:nth-child(odd) {
            justify-self: flex-end;

            &::before {
                text-align: start;
            }
        }
        
        &::before {
            display: block;
            text-align: end;
            counter-increment: li-counter;
            content: "[" counter(li-counter) "]";
            font-size: clamp(2rem, 6vw, 2rem);
            font-weight: 400;
        }

        p:first-child > a {
            font-size: 1.75rem;
            font-weight: 700;
            border-bottom: none;
        }
    }
}