@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

img, video, picture, canvas, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

iframe {
  border: none;
}

input, button, textarea, select, optgroup {
  font-family: inherit;
  font-size: inherit;
}

a, button, details, select,
input[type=button],
input[type=checkbox],
input[type=file],
input[type=image],
input[type=radio],
input[type=range],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    transition: none !important;
    animation: none !important;
  }
  html {
    scroll-behavior: auto !important;
  }
}
body {
  display: flex;
  font-family: "Public Sans", Arial;
  background: #fff;
  cursor: none;
}
body::before {
  content: "";
  background-image: url("../assets/noise.png");
  position: fixed;
  height: 300%;
  width: 300%;
  left: -50%;
  top: -100%;
  opacity: 0.5;
  animation: grain 10s steps(10) infinite;
}
@keyframes grain {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
  100% {
    transform: translate(0, 0);
  }
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

a:not(h2 a, h3 a) {
  color: blue !important;
  text-decoration: underline;
}
a:not(h2 a, h3 a):hover, a:not(h2 a, h3 a):focus-visible {
  background: #000;
  color: #fff !important;
}
a:not(h2 a, h3 a):focus-visible {
  outline: 3px dashed #000;
}

@media screen and (min-width: 900px) {
  main {
    flex-direction: row;
  }
}
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(17, 17, 17, 0.875);
}

@media (pointer: fine) {
  .cursor {
    position: fixed;
    top: -2rem;
    left: -2rem;
    pointer-events: none;
    z-index: 9999;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    background-color: aliceblue;
    mix-blend-mode: difference;
  }
}
header .heading-container {
  font-size: clamp(1.75rem, 3.75vw, 4.375rem);
  position: relative;
  display: flex;
  padding: 0 clamp(0.5rem, 2vw, 1rem);
  font-weight: 500;
}
header .vertical-text {
  position: absolute;
  opacity: 0;
}
header .vertical-text span {
  display: flex;
  flex-direction: column;
  transform: translate(50%) rotate(90deg);
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .vertical-text span::after {
  color: #000;
  letter-spacing: -2.75rem;
  content: "Naiden Radnev";
  position: absolute;
  text-transform: uppercase;
  transition: 0.3s;
}
header .vertical-text span.cyrilic::after {
  content: "Найден Раднев";
}
header .heading-container:hover .horizontal-text {
  opacity: 0;
}
header .heading-container:hover .vertical-text {
  opacity: 1;
}
header .heading-container:hover .vertical-text span::after {
  letter-spacing: 0;
  transition: 0.3s;
}

section {
  transition: 0.4s;
  position: relative;
  overflow: hidden;
}
section .info {
  width: 100%;
  padding: 0.83rem clamp(0.5rem, 2vw, 1rem);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
section .info > :last-child {
  margin-bottom: 6rem;
}
section h2 {
  padding: 0 clamp(0.5rem, 2vw, 1rem);
  color: aliceblue;
  mix-blend-mode: difference;
  z-index: 9999;
  position: relative;
}
section h2, section h3, section h4 {
  font-weight: 500;
}
section:nth-child(1) h2 a, section:nth-child(2) h2 a, section:nth-child(3) h2 a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: unset;
  font-size: clamp(1.75rem, 3.75vw, 4.375rem);
  text-transform: uppercase;
  white-space: nowrap;
}
section:nth-child(1) h2 a::before, section:nth-child(2) h2 a::before, section:nth-child(3) h2 a::before {
  content: "";
  background: aliceblue;
}
section:nth-child(1) h2 a::before, section:nth-child(2) h2 a::before {
  width: clamp(1.5rem, 3vw, 3.25rem);
  height: clamp(1.5rem, 3vw, 3.25rem);
}
section:nth-child(2) h2 a::before {
  border-radius: 50%;
}
section:nth-child(3) h2 a::before {
  border-left: clamp(12.4px, 1.5vw, 26px) solid transparent;
  border-right: clamp(12.4px, 1.5vw, 26px) solid transparent;
  border-bottom: clamp(24.8px, 3vw, 52px) solid aliceblue;
  background: unset;
}
section p:not(:first-child) {
  margin-top: 0.83rem;
}
section p, section li, section a:not(h2 a) {
  font-size: clamp(1.125rem, 2vw, 2.25rem);
  font-weight: 300;
}
section:nth-child(2) .info ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section:nth-child(2) .info ul li h3 {
  font-size: clamp(1.5rem, 2vw, 2rem);
}
section:nth-child(2) .info ul li h4 {
  font-size: clamp(1.25rem, 2vw, 1.75rem);
}
section:nth-child(2) .info ul ul {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
section:nth-child(2) .info ul ul li {
  display: inline;
  width: -moz-fit-content;
  width: fit-content;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 500;
}
section:nth-child(2) .info ul ul li:not(:last-child)::after {
  content: ",";
}
section:nth-child(2) .info ul ul hr {
  display: block;
  opacity: 0;
  width: 100%;
  margin-bottom: -1rem;
}
section:nth-child(2) .info ul li div {
  display: flex;
  gap: 0.5rem;
}
section:nth-child(2) .info ul li div a {
  display: block;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

section:target {
  flex-grow: 1;
  transition: 0.4s;
}
section:target .info {
  height: 100%;
  overflow-y: auto;
  opacity: 1;
  visibility: unset;
  transition: 0.4s;
}

@media (pointer: fine) {
  section:nth-child(2) .info ul li img {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    pointer-events: none;
    opacity: 0;
    z-index: -1;
    position: fixed;
  }
  section:nth-child(2) .info ul li:hover h3, section:nth-child(2) .info ul li:hover h4, section:nth-child(2) .info ul li:hover p, section:nth-child(2) .info ul li:hover li {
    color: aliceblue;
    mix-blend-mode: difference;
  }
  section:nth-child(2) .info ul li:hover img {
    opacity: 1;
  }
}
.test {
  position: absolute;
  width: 100vw;
  top: 0;
  bottom: 0;
  background: black;
}/*# sourceMappingURL=general.css.map */