@import '../node_modules/naiden-css-reset/reset.scss';

@import './variables';

body {
    display: flex;
    font-family: Arial, Helvetica;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width: 900px) {
    main {
        flex-direction: row;
    }
}

@import './header';
@import './sections';