*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}

img, video, picture, canvas, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

iframe {
  border: none;
}

input, button, textarea, select, optgroup {
  font-family: inherit;
  font-size: inherit;
}

a, button, details, select,
input[type=button],
input[type=checkbox],
input[type=file],
input[type=image],
input[type=radio],
input[type=range],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    transition: none !important;
    animation: none !important;
  }
  html {
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Helmet";
  src: url("./fonts/Helmet-Regular.ttf");
}
@font-face {
  font-family: "NeueMontreal";
  src: url("./fonts/PPNeueMontreal-Medium.otf");
}
::-moz-selection {
  background: black;
  color: white;
}
::selection {
  background: black;
  color: white;
}

body {
  background: white;
}
body .heading {
  font-family: Helmet, sans-serif;
  font-size: clamp(4rem, 14vw, 12.5rem);
  line-height: 0.75;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body main {
  position: relative;
  z-index: 1;
}
body main .full-page-wrapper {
  min-height: 800px;
  height: 100vh;
  display: grid;
}
body main .main-text-container {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
@media (pointer: coarse) {
  body main input, body main label, body main canvas {
    display: none;
  }
}
body p {
  font-family: NeueMontreal, sans-serif;
  font-size: clamp(1rem, 3vw, 1.25rem);
  -webkit-hyphens: initial;
          hyphens: initial;
}
body h2, body a {
  font-family: Helmet, sans-serif;
}
body .text {
  padding: clamp(0.5rem, 2.5vw, 2rem) 1rem clamp(0.5rem, 2.5vw, 2rem) clamp(0rem, 1.5vw, 0.85rem);
  max-width: 675px;
  line-height: 1.75;
}
body .uppercase {
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .full-page-wrapper {
    grid-template-columns: 675px 1fr;
  }
}
@media (pointer: fine) {
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: unset !important;
  }
}
[data-theme=dark] ::-moz-selection {
  background: white;
  color: black;
}
[data-theme=dark] ::selection {
  background: white;
  color: black;
}
[data-theme=dark] body {
  background: black;
  color: white;
}

.visually-hidden {
  display: unset !important;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.toggle {
  border: none;
  background: none;
  position: fixed;
  right: 0.25rem;
  top: 0.25rem;
  width: clamp(50px, 5vw, 60px);
  height: clamp(50px, 5vw, 60px);
}
.toggle img {
  width: 100%;
  height: 100%;
}

@media (pointer: fine) {
  body, a, input, button, label {
    cursor: none;
  }
  .cursor, .cursor-draw {
    position: fixed;
    top: -2rem;
    left: -2rem;
    pointer-events: none;
    z-index: 9999;
  }
  .cursor.cursor, .cursor-draw.cursor {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: aliceblue;
    mix-blend-mode: difference;
  }
  .cursor.cursor-draw, .cursor-draw.cursor-draw {
    width: 2.5rem;
    height: 2.5rem;
    background: url("../images/pen_light.svg") center center;
  }
}
@media (pointer: fine) and (prefers-color-scheme: dark) {
  .cursor.cursor-draw, .cursor-draw.cursor-draw {
    background: url("../images/pen_dark.svg") center center;
  }
}
a[href] {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  display: inline-block;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  line-height: 1;
  transition: 0.2s;
}
a[href] span {
  display: none;
}
a[href]:active, a[href]:focus-visible {
  background: black;
  color: white;
  transition: 0.2s;
  outline: none;
}
@media (prefers-color-scheme: dark) {
  a[href]:active, a[href]:focus-visible {
    background: white;
    color: black;
    transition: 0.2s;
  }
}

@media (hover: hover) {
  a {
    position: relative;
  }
  a[href]:hover {
    text-decoration: none;
  }
  a[href] .left, a[href] .right {
    display: unset;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    color: transparent;
    letter-spacing: -0.5rem;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    transition: 0.2s;
  }
  a[href] .left:hover, a[href] .right:hover {
    z-index: 100;
    width: 100%;
    background: black;
    color: white;
    letter-spacing: unset;
    transition: 0.3s;
  }
  a[href] .left {
    left: 0;
  }
  a[href] .right {
    right: 0;
  }
  a[href] .right:hover {
    direction: rtl;
  }
}
@media (hover: hover) and (prefers-color-scheme: dark) {
  a[href] .left:hover, a[href] .right:hover {
    background: white;
    color: black;
  }
}
.heading:nth-child(3) {
  font-size: clamp(4rem, 12.5vw, 11.25rem);
  font-weight: 700;
  display: flex;
  position: relative;
}
@media (pointer: fine) {
  .heading:nth-child(3) .no-cursor {
    display: none;
  }
}
.heading:nth-child(3) span:nth-of-type(1):not(.no-cursor, :nth-child(4)) {
  font-size: clamp(4rem, 12.5vw, 11.25rem);
}
@media (pointer: fine) {
  .heading:nth-child(3) div:nth-of-type(3) {
    margin-left: clamp(2.125rem, 7.625vw, 8rem);
  }
}
@media screen and (pointer: fine) and (min-width: 1000px) {
  .heading:nth-child(3) div:nth-of-type(3) {
    margin-left: clamp(4rem, 8vw, 7.25rem);
  }
}

.sticky-label {
  position: relative;
  display: flex;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input:focus-visible {
  outline: none;
}

input:not(:checked) + label span > span:nth-child(1) {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
input:not(:checked) + label span > span:not(:nth-child(1)) {
  display: none;
}

input:not(:checked):hover + label span > span:not(:nth-child(1)), input:not(:checked):focus-visible + label span > span:not(:nth-child(1)) {
  display: inline;
}
input:not(:checked):hover + label ~ .nev, input:not(:checked):focus-visible + label ~ .nev {
  display: none;
}

input:checked + label, input:focus-visible + label, input:hover + label {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
input:checked + label ~ .nev, input:focus-visible + label ~ .nev, input:hover + label ~ .nev {
  display: none;
}

input:checked:focus-visible + label {
  padding-inline-end: 1rem;
  background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  animation: 1s infinite normal a;
  animation-timing-function: linear;
}
@keyframes a {
  0% {
    background-position: 0 0, 0 100%, 0 0, 100% 0;
  }
  100% {
    background-position: 30px 0, -30px 100%, 0 -30px, 100% 30px;
  }
}

@media (prefers-color-scheme: dark) {
  input:not(:checked) + label span > span:nth-child(1) {
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  }
  input:checked + label, input:focus-visible + label, input:hover + label {
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  }
  input:checked:focus-visible + label {
    background-image: linear-gradient(90deg, #fff 50%, transparent 0), linear-gradient(90deg, #fff 50%, transparent 0), linear-gradient(180deg, #fff 50%, transparent 0), linear-gradient(180deg, #fff 50%, transparent 0);
  }
}
a[href="#selected-works"] {
  font-size: clamp(2rem, 6vw, 3rem);
  padding: 0 1rem 0 clamp(0rem, 1.5vw, 0.625rem);
  margin: auto 0;
  text-decoration: none;
}
a[href="#selected-works"] span {
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 0.15s;
}
a[href="#selected-works"]:hover span, a[href="#selected-works"]:focus-visible span {
  transform: rotate(90deg);
  transition: 0.15s;
}

#selected-works {
  padding: 0 clamp(0rem, 1.5vw, 0.85rem) clamp(0rem, 1.5vw, 0.85rem) clamp(0rem, 1.5vw, 0.85rem);
}
#selected-works ol {
  max-width: 690px;
  display: grid;
  align-content: space-between;
  counter-reset: li-counter;
}
#selected-works li {
  max-width: 355px;
  font-family: NeueMontreal, sans-serif;
  height: -moz-fit-content;
  height: fit-content;
}
#selected-works li:nth-child(odd) {
  justify-self: flex-end;
}
#selected-works li:nth-child(odd)::before {
  text-align: start;
}
#selected-works li::before {
  display: block;
  text-align: end;
  counter-increment: li-counter;
  content: "[" counter(li-counter) "]"/"";
  font-size: clamp(2rem, 6vw, 2rem);
  font-weight: 400;
}
#selected-works li p:first-child > a {
  font-size: 1.75rem;
  font-weight: 700;
  border-bottom: none;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
#selected-works img, #selected-works .image-container {
  display: none;
}
@media screen and (min-width: 1200px) {
  #selected-works .image-container {
    display: unset;
    position: relative;
  }
  #selected-works img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: unset;
    width: 80%;
    justify-self: center;
    align-self: center;
    opacity: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    pointer-events: none;
  }
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background: black;
}
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: white;
  }
}/*# sourceMappingURL=general.css.map */