@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

img, video, picture, canvas, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

iframe {
  border: none;
}

input, button, textarea, select, optgroup {
  font-family: inherit;
  font-size: inherit;
}

a, button, details, select,
input[type=button],
input[type=checkbox],
input[type=file],
input[type=image],
input[type=radio],
input[type=range],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    transition: none !important;
    animation: none !important;
  }
  html {
    scroll-behavior: auto !important;
  }
}
body {
  display: flex;
  font-family: "Public Sans", Arial;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 900px) {
  main {
    flex-direction: row;
  }
}
::-webkit-scrollbar {
  width: 1px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(17, 17, 17, 0.875);
}

header .heading-container {
  font-size: clamp(1.75rem, 3.75vw, 4.375rem);
  position: relative;
  display: flex;
  padding: 0 clamp(0.5rem, 2vw, 1rem);
  font-weight: 500;
}
header .vertical-text {
  position: absolute;
  opacity: 0;
}
header .vertical-text span {
  display: flex;
  flex-direction: column;
  transform: translate(50%) rotate(90deg);
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .vertical-text span::after {
  color: black;
  letter-spacing: -2.75rem;
  content: "Naiden Radnev";
  position: absolute;
  text-transform: uppercase;
  transition: 0.3s;
}
header .vertical-text span.cyrilic::after {
  content: "Найден Раднев";
}
header .heading-container:hover .horizontal-text {
  opacity: 0;
}
header .heading-container:hover .vertical-text {
  opacity: 1;
}
header .heading-container:hover .vertical-text span::after {
  letter-spacing: 0;
  transition: 0.3s;
}

section {
  transition: 0.4s;
  position: relative;
  overflow: hidden;
}
section .info {
  width: 100%;
  padding: 0.83rem clamp(0.5rem, 2vw, 1rem);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
section .info > :last-child {
  margin-bottom: 6rem;
}
section h2, section h2 a {
  padding: 0 clamp(0.5rem, 2vw, 1rem);
  font-size: clamp(1.75rem, 3.75vw, 4.375rem);
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}
section p:not(:first-child) {
  margin-top: 0.83rem;
}
section p, section li, section a:not(h2 a) {
  font-size: clamp(1.125rem, 2vw, 2.25rem);
  max-width: 1000px;
  font-weight: 300;
}
section h3, section h4 {
  font-weight: 500;
}
section a:not(h2 a) {
  color: blue;
  text-decoration: underline;
}
section a:not(h2 a):hover, section a:not(h2 a):focus-visible {
  color: #000;
  text-decoration: none;
  font-style: italic;
}
section a:not(h2 a):focus-visible {
  outline: 3px dashed #000;
}
section:nth-child(2) .info ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section:nth-child(2) .info ul li {
  position: relative;
}
section:nth-child(2) .info ul li h3 {
  font-size: 1.5rem;
}
section:nth-child(2) .info ul li h4 {
  font-size: 1.25rem;
}
section:nth-child(2) .info ul li img {
  position: absolute;
  top: 0;
  right: 3rem;
  opacity: 0;
  z-index: -1;
}
section:nth-child(2) .info ul li:hover img {
  opacity: 1;
}
section:nth-child(2) .info ul ul {
  display: unset;
  gap: unset;
}
section:nth-child(2) .info ul ul li {
  display: inline;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
}
section:nth-child(2) .info ul ul li:not(:last-child)::after {
  content: ",";
}
section:nth-child(2) .info ul li div {
  display: flex;
  gap: 0.5rem;
}
section:nth-child(2) .info ul li div a {
  display: block;
  font-size: 1rem;
}
section:nth-child(1) h2 a, section:nth-child(2) h2 a, section:nth-child(3) h2 a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.2s;
  padding: unset;
}
section:nth-child(1) h2 a::before, section:nth-child(2) h2 a::before, section:nth-child(3) h2 a::before {
  content: "";
  background: black;
}
section:nth-child(1) h2 a::before, section:nth-child(2) h2 a::before {
  width: clamp(1.5rem, 3vw, 3.25rem);
  height: clamp(1.5rem, 3vw, 3.25rem);
}
section:nth-child(2) h2 a::before {
  border-radius: 50%;
}
section:nth-child(3) h2 a::before {
  border-left: clamp(12.4px, 1.5vw, 26px) solid transparent;
  border-right: clamp(12.4px, 1.5vw, 26px) solid transparent;
  border-bottom: clamp(24.8px, 3vw, 52px) solid black;
  background: unset;
}

section:target {
  flex-grow: 1;
  transition: 0.4s;
}
section:target .info {
  height: 100%;
  overflow-y: auto;
  opacity: 1;
  visibility: unset;
  transition: 0.4s;
}/*# sourceMappingURL=general.css.map */