@import '../node_modules/naiden-css-reset/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap');
@import './variables';

body {
    display: flex;
    font-family: "Public Sans", Arial;
    background: $white;
    cursor: none;

    &::before {
        content: '';
        background-image: url('../assets/noise.png');
        position: fixed;
        height: 300%;
        width: 300%;
        left: -50%;
        top: -100%;
        opacity: .5;
        animation: grain 10s steps(10) infinite;
        // https://tympanus.net/Development/CSSMarqueeMenu/

        @keyframes grain {
            0% {
                transform: translate(0, 0);
            }

            10% {
                transform: translate(-5%, -10%);
            }

            20% {
                transform: translate(-15%, 5%);
            }

            30% {
                transform: translate(7%, -25%);
            }

            40% {
                transform: translate(-5%, 25%);
            }

            50% {
                transform: translate(-15%, 10%);
            }

            60% {
                transform: translate(15%, 0%);
            }
            
            70% {
                transform: translate(0%, 15%);
            }

            80% {
                transform: translate(3%, 35%);
            }

            90% {
                transform: translate(-10%, 10%);
            }

            100% {
                transform: translate(0, 0);
            }
        }
    }
}

::selection {
    background: $black;
    color: $white;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

a:not(h2 a, h3 a) {
    color: blue !important;
    text-decoration: underline;

    &:hover, &:focus-visible {
        background: $black;
        color: $white !important;
    }

    &:focus-visible {
        outline: 3px dashed $black;
    }
}

@media screen and (min-width: 900px) {
    main {
        flex-direction: row;
    }
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(17, 17, 17, .875);
}

.cursor {
    position: fixed;
    top: -2rem;
    left: -2rem;
    pointer-events: none;
    z-index: 9999;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    background-color: aliceblue;
    mix-blend-mode: difference;
}

@import './header';
@import './sections';