@import '../node_modules/naiden-css-reset/reset.scss';
@import './fonts.scss';

body {
    border: 1px solid red;
    background: black;
    color: white;

    h1 {
        font-family: Helmet, sans-serif;
        font-size: clamp(5.75rem, 12.5vw, 12.5rem);
    }

    p {
        font-family: NeueMontreal, sans-serif;
    }

    h2, a {
        font-family: Helmet, sans-serif;
    }
}