@media (pointer: fine) {
    body, a, input, button, label {
        cursor: none;
    }

    .cursor, .cursor-draw {
        position: fixed;
        top: -2rem;
        left: -2rem;
        pointer-events: none;
        z-index: 9999;
        
        &.cursor {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color:aliceblue;
            mix-blend-mode: difference;
        }

        &.cursor-draw {
            width: 2.5rem;
            height: 2.5rem;
            background: url('../../../assets/pen_light.svg') center center;
        }
    }

    [data-theme="dark"] {
        .cursor-draw {
            background: url('../../../assets/pen_dark.svg') center center;
        }
    }
}