a[href] {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    display: inline-block;
    text-decoration: underline 2px;
    line-height: 1;
    transition: .2s;

    span {
        display: none;
    }
    
    &:active, &:focus-visible {
        background: black;
        color: white;
        transition: .2s;
        outline: none;
    }
}

[data-theme="dark"] {
    a[href]:active, a[href]:focus-visible {
        background: white;
        color: black;
        transition: .2s;
    }
}

@media (hover: hover) {
    a { 
        position: relative;

        &[href]{
            &:hover {
                text-decoration: none;
            }
    
            .left, .right {
                display: unset;
                position: absolute;
                width: 50%;
                height: 100%;
                top: 0;
                color: transparent;
                letter-spacing: -.5rem;
                user-select: none;
                transition: .2s;

                &:hover {
                    z-index: 100;
                    width: 100%;
                    background: black;  
                    color: white;
                    letter-spacing: unset;
                    transition: .3s;
                }
            }
            
            .left {
                left: 0;
            }
    
            .right {
                right: 0;
    
                &:hover {
                    direction: rtl;
                }
            }
        }
    }

    [data-theme="dark"] {
        a[href] {
            .left:hover, .right:hover {
                background: white;
                color: black;
            }
        }
    }
}