@import '../../../node_modules/naiden-css-reset/reset.scss';
@import './fonts.scss';

::selection {
    background: black;
    color: white;
}

body {
    background: white;

    .heading {
        font-family: Helmet, sans-serif;
        font-size: clamp(4rem, 14vw, 12.5rem);
        line-height: .75;
        user-select: none;
    }

    main {
        position: relative;
        z-index: 1;
        
        .full-page-wrapper {
            min-height: 800px;
            height: 100vh;
            display: grid;
        }
        
        .main-text-container {
            width: fit-content;
            display: flex;
            flex-direction: column;
        }

        @media (pointer: coarse) {
            input, label, canvas {
                display: none;
            }
        }
    }

    p {
        font-family: NeueMontreal, sans-serif;
        font-size: clamp(1rem, 3vw, 1.25rem);
        hyphens: initial;
    }

    h2, a {
        font-family: Helmet, sans-serif;
    }

    .text {
        padding: clamp(.5rem, 2.5vw, 2rem) 1rem clamp(.5rem, 2.5vw, 2rem) clamp(0rem, 1.5vw, .85rem);
        max-width: 675px;
        line-height: 1.75;
    }

    .uppercase {
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1200px) {
    .full-page-wrapper {
        grid-template-columns: 675px 1fr;
    }
}

canvas {
    display: none;
}

@media screen and (min-width: 1200px) and (pointer: fine) {
    canvas {
        display: unset;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: unset !important;
    }
}

[data-theme="dark"] {
    ::selection {
        background: white;
        color: black;
    }
    
    body {
        background: black;
        color: white;
    }
}

.visually-hidden {
    display: unset !important;
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
}

@import './themeButton';
@import './cursor';
@import './links';
@import './checkbox';
@import './works';
@import './scrollbar';